main{
    margin: 2vh 20vw;
}

main h1{
    font-size: 25px;
    margin: 40px 0;
}

.info{
    margin: 40px 0;
}

main p{
    font-size: 15px;
    margin: 10px 0 ;
}

main ul h2{
    font-size: 20px;
    color: rgb(0, 83, 183);
}


main ul{
    margin: 0 0 50px 20px;
}